{padding: 0;
margin: 0;
box-sizing:border-box;}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
font-family:'lato', sans-serif;
}


footer {
    background-color: brown;
}

h1 (
    font-family: 'oswald', Anton;

)